<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/img/core-img/maskable_icon_x192.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="apple-touch-icon" href="/img/core-img/maskable_icon_x512.png" />
        <title>Analytic</title>
        <link rel="icon" href="/img/core-img/logoo.ico" />
        <link rel="stylesheet" href="/css/core-style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <style>
            body {
                color: #566787;
                background: #f5f5f5;
                font-family: "Varela Round", sans-serif;
                font-size: 13px;
            }

            h2 {
                color: rgb(240, 236, 236);
            }

            /* Side Bar CSS */
            .wrapper {
                display: flex;
                align-items: stretch;
            }

            .container-xl {
                flex: 80%;
            }

            #sidebar.active {
                margin-left: -250px;
            }

            #sidebar {
                min-width: 200px;
                max-width: 200px;
                min-height: 100vh;
                background: #7fdbff;
                color: #fff;
                transition: all 0.3s;
                flex: 20%;
            }

            #sidebar .sidebar-header {
                padding: 20px;
                background: #435d7d;
            }

            #sidebar ul.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul p {
                color: #fff;
                padding: 10px;
            }

            #sidebar h3 {
                color: rgb(240, 236, 236);
            }

            #sidebar ul li a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
            }
            #sidebar ul li a:hover {
                color: #7386d5;
                background: #fff;
            }

            #sidebar ul li.active > a,
            a[aria-expanded="true"] {
                color: #fff;
                background: #6d7fcc;
            }

            @media (max-width: 768px) {
                #sidebar {
                    margin-left: -250px;
                }
                #sidebar.active {
                    margin-left: 0;
                }
            }
        </style>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>

             //let analytics = <%= analytic %>
            <% console.log(analytic); %>
            <% console.log(categoryAnalytic); %>

            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawProductTypeChart);
            google.charts.setOnLoadCallback(drawCategoryChart);
            function drawProductTypeChart() {

                var PTdata = new google.visualization.DataTable();
                PTdata.addColumn("string", "Product Type");
                PTdata.addColumn("number", "Number");

                <% analytic.forEach(analytic => { %>

                    var type = '<%= analytic.productType %>';
                    var num = <%= analytic.number %>;

                    PTdata.addRows([[type, num],]);
                <% }); %>
                var options = {
                    title: "Product Type Sales Analytic Chart",
                };
                var chart = new google.visualization.PieChart(document.getElementById("productTypeChart"));
                chart.draw(PTdata, options);

            }

            function drawCategoryChart() {

                var data = new google.visualization.DataTable();
                data.addColumn("string", "Category");
                data.addColumn("number", "Number");

                <% categoryAnalytic.forEach(categoryAnalytic => { %>

                    var category = '<%= categoryAnalytic.category %>';
                    var num = <%= categoryAnalytic.number %>;

                    data.addRows([[category, num],]);
                <% }); %>
                var options = {
                    title: "Categories Sales Analytic Chart",
                };
                var chart = new google.visualization.PieChart(document.getElementById("categoriesChart"));
                chart.draw(data, options);
            }
        </script>

        <script>
            $(document).ready(function () {
                // Activate tooltip
                $('[data-toggle="tooltip"]').tooltip();

                // Select/Deselect checkboxes
                var checkbox = $('table tbody input[type="checkbox"]');
                $("#selectAll").click(function () {
                    if (this.checked) {
                        checkbox.each(function () {
                            this.checked = true;
                        });
                    } else {
                        checkbox.each(function () {
                            this.checked = false;
                        });
                    }
                });
                checkbox.click(function () {
                    if (!this.checked) {
                        $("#selectAll").prop("checked", false);
                    }
                });
            });
        </script>
    </head>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Analytics</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/product">Inventory Management</a>
                    </li>
                    <li>
                        <a href="/employee">Employee Management</a>
                    </li>
                    <li>
                        <a href="/customer">Customer Management</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                            >Order Management</a
                        >
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="/order">Order List</a>
                            </li>
                            <li>
                                <a href="/orderDetail">Order Detail</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6 title-left">
                                    <h2><b> <%= title %> </b></h2>
                                </div>
                                <div class="col-sm-8 title-right">
                                    <a href="/" class="btn btn-info"><i class="material-icons">&#xe88a;</i>Home</a>
                                    <a href="/analytics" class="btn btn-dark"
                                        ><i class="material-icons">add_chart</i>Analytics</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%">
                            <h3 align="center">Product Type Sales Analytic Chart</h3>
                            <br />
                            <div id="productTypeChart" align="center" style="width: 80%; height: 500px"></div>
                        </div>
                        <div style="width: 100%">
                            <h3 align="center">Categories Sales Analytic Chart</h3>
                            <br />
                            <div id="categoriesChart" align="center" style="width: 80%; height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal HTML -->

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="/js/main.js"></script>
        <script>

            function displayNotification() {
                // TODO 2.3 - display a Notification
                if (Notification.permission == "granted") {
                    navigator.serviceWorker.getRegistration().then((reg) => {
                        //TODO 2.4 - Add 'options' object to configure the notification
                        //console.log(PTdata);
                        //console.log('<%= analytic[0].productType %>');
                        var highestNum = 0;
                        var highestNum2 = 0;
                        var highestPT = null;
                        var highestPT2 = null;
                        <% analytic.forEach(analytic => { %>
                            var type = '<%= analytic.productType %>';
                            var num = <%= analytic.number %>;
                            console.log(type);
                            console.log(num);
                            if(num > highestNum){
                                highestNum = num;
                                highestPT = type;
                                console.log(">");
                            }

                            else if (num == highestNum) {
                                highestNum2 = num;
                                highestPT2 = type;
                                console.log("=");
                            }
                            else if(num < highestNum){
                                highestNum = highestNum;
                                highestNum2 = highestNum2;
                                console.log("<");
                            }
                            console.log("Highest = " + highestNum);
                            console.log("If equal = " + highestNum2);
                        <% }); %>
                        console.log(highestNum);
                        console.log(highestNum2);
                        var body = "Product Type: " + highestPT;
                        if(highestNum == highestNum2){
                            body = "Product Type: " + highestPT +" & " + highestPT2;
                        }
                        const options = {
                            body: body,
                            icon: "/img/sales.png",
                            vibrate: [100, 50, 100],
                            data: {
                                dateOfArrival: Date.now(),
                                primaryKey: 1,
                            },

                            // TODO 2.5 - add actions to the notification
                            actions: [
                                // { action: "explore", title: "Go to the site" },
                                { action: "close", title: "Close the notification" },
                            ],

                            // TODO 5.1 - add a tag to the notification
                        };

                        reg.showNotification("Highest Sales !!!", options);
                    });
                }
            }
            displayNotification();
        </script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </body>
</html>
