<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/img/core-img/maskable_icon_x192.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="apple-touch-icon" href="/img/core-img/maskable_icon_x512.png" />
        <!-- Title  -->
        <title>Khai Boutique | Checkout</title>

        <!-- Favicon  -->
        <link rel="icon" href="/img/core-img/logoo.ico" />

        <!-- Core Style CSS -->
        <link rel="stylesheet" href="/css/core-style.css" />
        <!-- <link rel="stylesheet" href="/style.css"> -->

        <!-- Responsive CSS -->
        <link href="/css/responsive.css" rel="stylesheet" />

        <style>
            #fb-btn {
                top: 30px;
                left: 20px;
            }

            #profile {
                position: absolute;
                top: 30px;
                left: 70px;
                display: none;
            }

            #empId {
                position: absolute;
                top: 30px;
                left: 70px;
            }

            #login {
                position: absolute;
                top: 30px;
                left: 100px;
            }

            .MapHeading {
                padding: 15px;
            }
            .kuang3 {
                background-image: url("/img/bg-img/location.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                padding: 5%;
            }
            .noProduct {
                padding: 200px;
                text-align: center;
            }
            #shop-now {
                color: rgb(228, 27, 27);
            }
        </style>
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = "<%= stripePublicKey %>";
            var cartID = "<%= cart.cartID %>";
            var staffUserID = "<%= user.Id %>";
            var custName = "<%= userCust.name %>";
            var custUserID = "<%= userCust.userID %>";
            var custEmail = "<%= userCust.email %>";
        </script>
        <script src="/js/active.js" defer></script>

        <script>
            // let token1 = document.cookie.match(
            //     new RegExp("(?:^|; )" + token.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") + "=([^;]*)")
            // );
            // token1 ? decodeURIComponent(token1[1]) : undefined;
            // console.log(token1);
            <% if(user.Id && user.role) { %>
                var Id = "<%= user.Id %>";
                console.log(Id);
                var role = "<%= user.role %>";
                console.log(role);
            <% }; %>
        </script>
    </head>

    <body>
        <h6 class="cartID" hidden="true"><%= cart.cartID %></h6>

        <div id="wrapper">
            <!-- ****** Header Area Start ****** -->
            <header
                class="header_area bg-img background-overlay-white"
                style="background-image: url(/img/bg-img/bg-1.jpg)"
            >
                <!-- Top Header Area Start -->
                <div class="top_header_area">
                    <div class="container h-100">
                        <% if(user.Id == null){ %>
                        <a id="login" href="/login">Login</a>
                        <% }; %>
                        <!-- <div class="fb-login-button" id='fb-btn' scope="public_profile,email,user_birthday"
                onlogin="checkLoginState();" data-width="" data-size="medium" data-button-type="login_with"
                data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
                        <% if(user.Id != null){ %>
                        <div class="LogNavigation">
                            <a class="button" href="/logout">
                                <img src="/img/core-img/logout.png" />

                                <div class="logout">LOGOUT</div>
                            </a>
                        </div>
                        <% } else {%>
                        <div class="LogNavigation">
                            <a class="button" id="logout" href="#" onclick="logout()">
                                <img src="/img/core-img/logout.png" />

                                <div class="logout">LOGOUT</div>
                            </a>
                        </div>
                        <% }; %> <% if(user.Id != null) { %>
                        <p id="empId">Welcome, <%= user.Id %></p>
                        <% }; %>
                        <a id="profile" href="#profileD" data-toggle="modal">Profile</a>
                        <div class="row h-100 align-items-center justify-content-end">
                            <div class="col-12 col-lg-7">
                                <div class="top_single_area d-flex align-items-center">
                                    <!-- Logo Area -->
                                    <div class="top_logo">
                                        <a href="#"><img src="/img/core-img/logo.png" alt="" /></a>
                                    </div>
                                    <!-- Cart & Menu Area -->
                                    <div class="header-cart-menu d-flex align-items-center ml-auto">
                                        <!-- Cart Area -->
                                        <div class="cart">
                                            <% if(typeof cartItem[0] === 'undefined') { %>
                                            <a href="#" id="header-cart-btn" target="_blank"
                                                ><span class="cart_quantity">0</span><i class="ti-bag"></i> Your Bag
                                                RM0.00</a
                                            >
                                            <ul class="cart-list">
                                                <li class="total">
                                                    <span class="pull-right">Total: RM0.00</span>
                                                    <a href="/cart" class="btn btn-sm btn-cart">Cart</a>
                                                    <a href="/checkout" class="btn btn-sm btn-checkout">Checkout</a>
                                                </li>
                                            </ul>
                                            <% } else { %> <% var totalPrice = 0; %> <% cartItem.forEach(cartItem =>
                                            totalPrice += cartItem.price * cartItem.quantity); %>
                                            <a href="#" id="header-cart-btn" target="_blank"
                                                ><span class="cart_quantity"><%= cartItem.length %></span
                                                ><i class="ti-bag"></i> Your Bag RM<%= parseFloat(totalPrice).toFixed(2)
                                                %></a
                                            >
                                            <ul class="cart-list">
                                                <% cartItem.forEach(cartItem =>{ %>
                                                <li>
                                                    <a href="#" class="image"
                                                        ><img
                                                            src="/img/product-img/<%= cartItem.productImg %>"
                                                            class="cart-thumb"
                                                            alt=""
                                                    /></a>
                                                    <div class="cart-item-desc">
                                                        <h6><a href="#"><%= cartItem.productName %></a></h6>
                                                        <p>
                                                            <%= cartItem.quantity %>x -
                                                            <span class="price">RM<%= cartItem.price %></span>
                                                        </p>
                                                    </div>
                                                    <span class="dropdown-product-remove"
                                                        ><i class="icon-cross"></i
                                                    ></span>
                                                </li>
                                                <% }); %>
                                                <li class="total">
                                                    <span class="pull-right"
                                                        >Total: RM<%= parseFloat(totalPrice).toFixed(2) %></span
                                                    >
                                                    <a href="/cart" class="btn btn-sm btn-cart">Cart</a>
                                                    <a href="/checkout" class="btn btn-sm btn-checkout">Checkout</a>
                                                </li>
                                            </ul>
                                            <% }; %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profileD" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Profile</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="<%= userCust.pic %>" />
                                <br />
                                <br />
                                <label>Name: </label>
                                <label id="fbName"><%= userCust.name %></label>
                                <br />
                                <label>ID: </label>
                                <label id="fbId"><%= userCust.userID %></label>
                                <br />
                                <label>Email: </label>
                                <label><%= userCust.email %></label>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Top Header Area End -->
                <div class="main_header_area">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 d-md-flex justify-content-between">
                                <!-- Header Social Area -->
                                <div class="header-social-area">
                                    <a href="#" hidden="true"
                                        ><span class="karl-level">Share</span>
                                        <i class="fa fa-pinterest" aria-hidden="true"></i
                                    ></a>
                                    <a href="https://www.facebook.com"
                                        ><i class="fa fa-facebook" aria-hidden="true"></i
                                    ></a>
                                    <a href="https://www.twitter.com"
                                        ><i class="fa fa-twitter" aria-hidden="true"></i
                                    ></a>
                                    <a href="https://www.linkedin.com"
                                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                                    ></a>
                                </div>
                                <!-- Menu Area -->
                                <div class="main-menu-area">
                                    <nav class="navbar navbar-expand-lg align-items-start">
                                        <button
                                            class="navbar-toggler"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#karl-navbar"
                                            aria-controls="karl-navbar"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation"
                                        >
                                            <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
                                        </button>

                                        <div
                                            class="collapse navbar-collapse align-items-start collapse"
                                            id="karl-navbar"
                                        >
                                            <ul class="navbar-nav animated" id="nav">
                                                <li class="nav-item active">
                                                    <% if(user.Id != null) { %>
                                                    <a class="nav-link" href="/">Home</a>
                                                    <% } else { %>
                                                    <a class="nav-link" href="/">Home</a>
                                                    <% }; %>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a
                                                        class="nav-link"
                                                        href="/categories"
                                                        id="karlDropdown"
                                                        role="button"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                        >Categories</a
                                                    >
                                                </li>
                                                <li class="nav-item"><a class="nav-link" href="/cart"> Cart</a></li>
                                                <% if(user.Id != null) { %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/product">Inventory Management</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/orderHistory/<%= user.Id %>"
                                                        >Order History</a
                                                    >
                                                </li>
                                                <% } else{ %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/orderHistory/<%= userCust.userID %> "
                                                        >Order History</a
                                                    >
                                                </li>
                                                <% } %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/checkout">Checkout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <!-- Help Line -->
                                <div class="help-line">
                                    <a href="tel:+346573556778"><i class="ti-headphone-alt"></i> +34 657 3556 778</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- ****** Header Area End ****** -->

            <!-- ****** Top Discount Area Start ****** -->
            <section class="top-discount-area d-md-flex align-items-center">
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>Free Shipping &amp; Returns</h5>
                    <h6>BUY NOW</h6>
                </div>
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>20% Discount for KIDS Tops</h5>
                    <h6>Have a look NOW</h6>
                </div>
                <!-- Single Discount Area -->
                <div class="single-discount-area">
                    <h5>New Arrivals of Woman Wears</h5>
                    <h6>Let's go to buy</h6>
                </div>
            </section>
            <!-- ****** Top Discount Area End ****** -->

            <!-- ****** Checkout Area Start ****** -->
            <% if(typeof cartItem[0] !== 'undefined'){ %>
            <div class="checkout_area section_padding_100">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="checkout_details_area mt-50 clearfix">
                                <form id="place-order">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="receiverName">Name <span>*</span></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="receiverName"
                                                name="receiverName"
                                                value=""
                                                required
                                            />
                                        </div>

                                        <div class="col-12 mb-3">
                                            <label for="shipAddress">Address <span>*</span></label>
                                            <input
                                                type="text"
                                                class="form-control mb-3"
                                                id="shipAddress"
                                                name="shipAddress"
                                                value=""
                                                required
                                            />
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="shipAddress2"
                                                name="shipAddress2"
                                                value=""
                                            />
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="shipPostalCode">Postcode <span>*</span></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="shipPostalCode"
                                                name="shipPostalCode"
                                                value=""
                                                required
                                            />
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="shipCity">Town/City <span>*</span></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="shipCity"
                                                name="shipCity"
                                                value=""
                                                required
                                            />
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="shipState">State <span>*</span></label>
                                            <select
                                                class="custom-select d-block w-100"
                                                id="shipState"
                                                name="shipState"
                                                required
                                            >
                                                <option value="Perak">Perak</option>
                                                <option value="Negeri Sembilan">Negeri Sembilan</option>
                                                <option value="Selangor">Selangor</option>
                                                <option value="Kedah">Kedah</option>
                                                <option value="Pahang">Pahang</option>
                                                <option value="Johor">Johor</option>
                                                <option value="Malacca">Malacca</option>
                                                <option value="Terengganu">Terengganu</option>
                                                <option value="Sabah">Sabah</option>
                                                <option value="Kelantan">Kelantan</option>
                                                <option value="Perlis">Perlis</option>
                                                <option value="Penang">Penang</option>
                                                <option value="Sarawak">Sarawak</option>
                                            </select>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="receiverPhone">Phone No <span>*</span></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="receiverPhone"
                                                name="receiverPhone"
                                                min="0"
                                                value=""
                                                required
                                            />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">
                                <div class="cart-page-heading">
                                    <h5>Your Order</h5>
                                    <p>The Details</p>
                                </div>

                                <ul class="order-details-form mb-4">
                                    <li><span>Product</span> <span>Total</span></li>
                                    <% var totalPrice = 0; %> <% cartItem.forEach(cartItem =>{ %> <% var singleTotal =
                                    cartItem.price * cartItem.quantity; %> <% totalPrice += singleTotal; %>
                                    <li>
                                        <span><%= cartItem.productName %> x <%= cartItem.quantity %></span>
                                        <span>RM<%= parseFloat(singleTotal).toFixed(2) %></span>
                                    </li>
                                    <% }); %>

                                    <li>
                                        <span>Subtotal</span> <span>RM<%= parseFloat(totalPrice).toFixed(2) %></span>
                                    </li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li>
                                        <span>Total</span>
                                        <span class="total-price">RM<%= parseFloat(totalPrice).toFixed(2) %></span>
                                    </li>
                                </ul>
                                <button class="btn karl-checkout-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
            <h2 class="noProduct">No Product In cart, <a id="shop-now" href="/categories">Shop now !!!</a></h2>
            <% }; %>

            <!-- ****** Checkout Area End ****** -->

            <!-- ****** Footer Area Start ****** -->
            <footer class="footer_area">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="single_footer_area">
                                <div class="footer-logo">
                                    <img src="/img/core-img/logo.png" alt="" />
                                </div>
                                <div class="copywrite_text d-flex align-items-center">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script>
                                        All rights reserved | Made with
                                        <i class="fa fa-heart-o" aria-hidden="true"></i> by
                                        <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by
                                        <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Area Start -->
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="single_footer_area">
                                <ul class="footer_widget_menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/categories">Categories</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/orderHistory/<%= userCust.userID %>">Order History</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Single Footer Area Start -->
                    </div>
                    <div class="line"></div>

                    <!-- Footer Bottom Area Start -->
                    <div class="footer_bottom_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer_social_area text-center">
                                    <a href="https://www.facebook.com "
                                        ><i class="fa fa-facebook" aria-hidden="true"></i
                                    ></a>
                                    <a href="https://www.twitter.com"
                                        ><i class="fa fa-twitter" aria-hidden="true"></i
                                    ></a>
                                    <a href=" https://www.linkedin.com"
                                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ****** Footer Area End ****** -->
        </div>
        <!-- /.wrapper end -->

        <!-- jQuery (Necessary for All JavaScript Plugins) -->

        <!-- Popper js -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="/js/plugins.js"></script>
        <!-- Active js -->

        <script src="/js/serviceWorker.js"></script>
        <script src="/js/fb.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = "https://embed.tawk.to/5f567ba44704467e89ece0df/default";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();

            var userId = "";
            var empId = $("#empId").text().replace("Welcome, ", "");
            console.log(empId);

            var fbId = $("#profileD .modal-content .modal-body #fbId").text();
            console.log(fbId);

            if (!empId) {
                userId = fbId;
            } else {
                userId = empId;
            }
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>
